---
title: "About Me"
layout: "layouts/base.hbs"
---

<h2>About Me</h2>

<p>
    Hello! I'm Mohammed Patel, a passionate programmer currently in my last year of the Computer Programming program at Durham College. I have a strong interest in coding, and I particularly enjoy working with:
</p>

<ul>
    <li>COBOL</li>
    <li>JCL</li>
    <li>Java</li>
    <li>Mobile Development</li>
</ul>

<p>
    I'm always eager to learn new technologies and improve my skills. If you're interested in my work or would like to connect, please feel free to reach out!
</p>

<h2>Contact Me</h2>

<p>You can contact me at:</p>

<ul>
    <li>Email: <a href="mailto:mohammed.patel10@dcmail.ca">mohammed.patel10@dcmail.ca</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/mohammed-patel-0303ba19a/">Mohammed Patel</a></li>
</ul>
