---
layout: layouts/base.hbs
title: Contact me
---

<div class="contact-wrapper">

  <!-- Right Contact Page (Form) -->
  <div class="form-container">
    <h3 class="section-header">Contact Me</h3>
    <form id="contact-form" class="form-horizontal" role="form">
      <div class="form-group">
        <input type="text" class="form-control input" id="name" placeholder="Full Name" name="name" value="" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control input" id="email" placeholder="Email" name="email" value="" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input" id="subject" placeholder="Subject" name="subject" value="" required>
      </div>
      <div class="form-group">
        <textarea class="form-control textinput" rows="10" placeholder="Write a message..." name="message" required></textarea>
      </div>
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
      </button>
      <div id="response-message" style="display: none; text-align: center;">
        <div id="spinner" class="spinner" style="display: none;"></div>
        <p id="thank-you-message" style="display: none;">Thanks for reaching out. We'll get back to you soon!</p>
        <p id="error-message" style="display: none; color: red;">An error occurred. Please try again later.</p> <!-- Added Error Message -->
      </div>
    </form>
  </div>

  <!-- Left Contact Page (Contact Info) -->
  <div class="direct-contact-container">
    <h3 class="section-header">Get In Touch</h3>
    <ul class="contact-list">
      <li class="list-item"><i class="fa fa-map-marker fa-2x"></i><span class="contact-text place">Pickering, Ontario</span></li>
      <li class="list-item"><i class="fa fa-phone fa-2x"></i><span class="contact-text phone">(647) 321-7868</span></li>
      <li class="list-item"><i class="fa fa-envelope fa-2x"></i><span class="contact-text gmail"><a href="mailto:mohammed.h.p@hotmail.com">mohammed.h.p@hotmail.com</a></span></li>
    </ul>
    <hr>
    <ul class="social-media-list">
      <li><a href="#" target="_blank" class="contact-icon"><img src="/public/images/social/github.png" alt="GitHub"></a></li>
      <li><a href="#" target="_blank" class="contact-icon"><img src="/public/images/social/linkedin.png" alt="LinkedIn"></a></li>
    </ul>
    <hr>
  </div>
</div>

<script src="/assets/js/contact.js" defer></script>
