<footer >
        ©<span id="current-year"></span> <p>Copyright: Mohammed Patel</p>
        
        <a href="/terms-and-conditions">Terms and Conditions</a>
</footer>

<script>
    // JavaScript to dynamically set the current year
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
